body {
    background-image: url("../images/bg.png");
    background-position: center;
    background-repeat: no-repeat;
    padding: 5rem 0;
    background-size: cover;
}
a, h2, li, ul, i {
    margin: 0;
    padding: 0;
}
/* login session */
form {
    max-width: 50%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 2rem 5rem;
    border-radius: 10px;
}

.section2 {
    max-width: 80%;
    margin: auto;
    text-align: center;
}
.email, .password {
    padding: 1rem 2rem;  
}


.email input, .password input, .login {
    border-radius: 10rem;
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    padding: 5px 1rem;
    color: white;
}

input::placeholder {
    color: whitesmoke;
}

.login {
    /* width: 55%; */
    padding: 5px 5.5rem;
    margin: 1rem 0;
    background-color: rgb(8, 8, 153);
}

.login:hover {
    background-color: rgb(3, 3, 67);
    transition: 0.3s;
    cursor: pointer;
}

.RemForget {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}


.options {
    display: flex;
    justify-content: center;
    color: white;
}

.options a {
    color: black;
    background-color: rgba(245, 245, 245, 0.9);
    padding: 7px 1rem;
    border-radius: 10px;
    text-decoration: none;
}
.options a:first-child {
    margin-right: 5px;
}
.options a:last-child {
    margin-left: 5px;
}

.options a:hover {
    background-color: rgb(167, 164, 164);
    transition: 0.3s;
}

.forgetPswd {
    color:rgb(206, 9, 9);
}
/* end */

/* sign up form */


.Logo {
    color: brown;
}

/* forgot password */
.resetpassword {
    width: 37%;
    padding: 8px;
}

.textForgotPassword {
    color: white;
    padding: 10px;
}

/* responsive page */
@media only screen and (max-width: 600px) {
    
}