/* sidebar */
#sideBarLink a:hover {
  background-color: rgb(223, 40, 105);
}
#sideBarLink .active {
background-color: rgb(223, 40, 105);
}
/* end */

.alert {
  background-color: rgba(0, 0, 0, 0.7);
  background-image: none;
  width: 35%;
  color: whitesmoke;
  transition: 0.3s !important;
  transition-timing-function: ease-in-out !important;
  transform: translateY(130%);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

/* visitors form */
  form input{
    border-bottom: 1px rgba(128, 128, 128, 0.4) solid !important;
  }
/* end */